a{
    text-decoration: none;
}
ul{
    margin: 0;
}
*{
    margin: 0;
    text-decoration: none;
}
.header-main-div{
    background-color: skyblue;
    text-align: right;
    padding: 5px;
}
.header-menu-items{
    list-style: none;
}
.header-menu-items li{
    display: inline;
    font-size: 25px;
    padding-right: 25px;
}
.header-menu-items li a{
    color: white;
}
