h1{
    text-decoration: underline;
    color: rgb(43, 100, 72);;
}

.editnotesuser-main{
    background-color: rgb(230, 246, 238);
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.editnotesuser-input{
    display: block;
    width: 90%;
    margin: auto;
    font-size: 25px;
    padding: 5px 5px 5px 15px;
    border: 3px solid rgb(122, 241, 184);
    border-radius: 10px;
    margin-top: 5px;
}

.editnotesuser-button{
    font-size: 25px;
    background-color: rgb(134, 252, 195);
    padding: 7px;
    border: 0;
    border-radius: 8px;
    color: rgb(30, 82, 57);;
}
