.userhome-base{
    background-color: rgb(232, 244, 249);
    height: 470px;
}

.userhome-img{
    background-image: url('../Images/Img-2.jpg');
    height: 350px;
    background-size: 100% 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 10px rgb(177, 200, 209);
}

